<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AFollestad.MaterialDialogs.Core" version="0.9.6" targetFramework="monoandroid81" />
  <package id="BottomNavigationBar" version="1.4.0.3" targetFramework="monoandroid81" />
  <package id="CryptoCompare" version="1.4.0" targetFramework="monoandroid81" />
  <package id="FAB.XamarinAndroid" version="1.6.4.0" targetFramework="monoandroid81" />
  <package id="Firebase.Xamarin" version="0.3.6" targetFramework="monoandroid81" />
  <package id="Glide.Xamarin" version="4.1.1" targetFramework="monoandroid81" />
  <package id="Karamunting.Android.Lguipeng.BubbleView" version="1.0.1" targetFramework="monoandroid81" />
  <package id="Karamunting.Android.Mauker1.MaterialSearchView" version="1.2.3" targetFramework="monoandroid81" />
  <package id="Karamunting.Android.Mjn1369.PrettyDialog" version="1.0.4" targetFramework="monoandroid81" />
  <package id="Naxam.DialogPlus.Droid" version="1.11.0.2" targetFramework="monoandroid81" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="monoandroid81" />
  <package id="PH.Wdullaer.Materialdatetimepicker" version="2.364.0" targetFramework="monoandroid81" />
  <package id="RecyclerViewAnimators" version="2.1.0.0" targetFramework="monoandroid81" />
  <package id="Refractored.Controls.CircleImageView" version="1.0.1" targetFramework="monoandroid81" />
  <package id="Refractored.PagerSlidingTabStrip" version="1.1.6" targetFramework="monoandroid81" />
  <package id="Rx-Core" version="2.2.5" targetFramework="monoandroid81" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="monoandroid81" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="monoandroid81" />
  <package id="Rx-Main" version="2.2.5" targetFramework="monoandroid81" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="monoandroid81" />
  <package id="SkiaSharp" version="1.68.0" targetFramework="monoandroid81" />
  <package id="SkiaSharp.Views" version="1.68.0" targetFramework="monoandroid81" />
  <package id="SQLite.Net.Async-PCL" version="3.1.1" targetFramework="monoandroid81" />
  <package id="SQLite.Net.Core-PCL" version="3.1.1" targetFramework="monoandroid81" />
  <package id="sqlite-net-pcl" version="1.5.231" targetFramework="monoandroid81" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.13" targetFramework="monoandroid81" />
  <package id="SQLitePCLRaw.core" version="1.1.13" targetFramework="monoandroid81" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.android" version="1.1.13" targetFramework="monoandroid81" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.android" version="1.1.13" targetFramework="monoandroid81" />
  <package id="Square.OkHttp" version="2.7.5.0" targetFramework="monoandroid81" />
  <package id="Square.OkIO" version="1.13.0" targetFramework="monoandroid81" />
  <package id="Square.Picasso" version="2.5.2.1" targetFramework="monoandroid81" />
  <package id="Syncfusion.Licensing" version="16.4.0.54" targetFramework="monoandroid81" />
  <package id="Syncfusion.Xamarin.Buttons.Android" version="16.4.0.54" targetFramework="monoandroid81" />
  <package id="Syncfusion.Xamarin.Core" version="16.4.0.54" targetFramework="monoandroid81" />
  <package id="Syncfusion.Xamarin.SfBusyIndicator.Android" version="16.4.0.54" targetFramework="monoandroid81" />
  <package id="Syncfusion.Xamarin.SfChart.Android" version="16.4.0.54" targetFramework="monoandroid81" />
  <package id="Syncfusion.Xamarin.SfProgressBar" version="16.4.0.54" targetFramework="monoandroid81" />
  <package id="Syncfusion.Xamarin.SfTabView.Android" version="16.4.0.54" targetFramework="monoandroid81" />
  <package id="System.Data.SQLite" version="1.0.110.0" targetFramework="monoandroid81" />
  <package id="System.Data.SQLite.Core" version="1.0.110.0" targetFramework="monoandroid81" />
  <package id="System.Runtime.InteropServices.WindowsRuntime" version="4.3.0" targetFramework="monoandroid81" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="monoandroid81" />
  <package id="Xam.Plugin.Connectivity" version="3.2.0" targetFramework="monoandroid81" />
  <package id="Xam.Plugins.Android.FloatingNavigationView" version="1.0.0" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Arch.Core.Common" version="1.1.1.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Arch.Lifecycle.Common" version="1.1.1.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Arch.Lifecycle.Runtime" version="1.1.1.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="28.0.0.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Annotations" version="28.0.0.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Compat" version="28.0.0.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Constraint.Layout" version="1.1.2" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Constraint.Layout.Solver" version="1.1.2" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Core.UI" version="28.0.0.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Core.Utils" version="28.0.0.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Design" version="28.0.0.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Fragment" version="28.0.0.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Media.Compat" version="28.0.0.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Transition" version="28.0.0.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v13" version="28.0.0.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v4" version="28.0.0.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="28.0.0.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v7.CardView" version="28.0.0.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="28.0.0.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v7.Palette" version="28.0.0.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="28.0.0.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="28.0.0.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Build.Download" version="0.4.11" targetFramework="monoandroid81" />
  <package id="Xamarin.Firebase.Analytics" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Firebase.Analytics.Impl" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Firebase.Auth" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Firebase.Common" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Firebase.Core" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Firebase.Database" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Firebase.Database.Connection" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Firebase.Iid" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Forms" version="3.5.0.169047" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.Base" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.Basement" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.Tasks" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.JazzyViewPager" version="1.0.1" targetFramework="monoandroid81" />
  <package id="ZhangHai.Android.MaterialProgressBar" version="1.4.2" targetFramework="monoandroid81" />
</packages>